html{

  background-color: #b8c6db;
  background-color: #e3d028;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.App {
  margin: 0;
  padding: 0;

}